<%- include('layouts/header'); -%>


<body>


 <!-- ----------------------navbar------------------------------------------------->    
 <%- include('layouts/navbar'); -%>


 <div class="card card-custom p-4 shadow-sm" style="max-height: 500px; overflow-y: auto;">
    <h5 class="card-title">AI Insights</h5>
    <p><%- insights %></p>
  </div>
</div>


 <%- include('layouts/footer'); -%>





</body>
</html>