<%- include('layouts/header'); -%>

    <%- include('layouts/navbar'); -%>



        <div class="container" style="padding: 70px;">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/ava1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ava</h5>
                            <p class="card-text">AI expert specializing in machine learning and natural language processing, focused on solving complex challenges</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Expertise</li>
                            <li class="list-group-item">Machine Learning</li>
                            <li class="list-group-item">Natural Language Processing</li>
                            <li class="list-group-item">Computer Vision</li>

                            
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Open Form
                            </button> 
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/ava2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Zen</h5>
                            <p class="card-text">"AI expert specializing in machine learning techniques, data analysis, and predictive modeling, focused on solving complex challenges in technology and business."</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Expertise</li>
                            <li class="list-group-item">Predictive Analytics</li>
                            <li class="list-group-item">Data Mining</li>
                            <li class="list-group-item">Reinforcement Learning</li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Open Form
                            </button> 
                        </div>
                    </div>
                </div>
                 <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/ava1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ava</h5>
                            <p class="card-text">AI expert specializing in machine learning and natural language processing, focused on solving complex challenges</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Expertise</li>
                            <li class="list-group-item">Machine Learning</li>
                            <li class="list-group-item">Natural Language Processing</li>
                            <li class="list-group-item">Computer Vision</li>

                            
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Open Form
                            </button> 
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">


                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/ava1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ava</h5>
                            <p class="card-text">AI expert specializing in machine learning and natural language processing, focused on solving complex challenges</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Expertise</li>
                            <li class="list-group-item">Machine Learning</li>
                            <li class="list-group-item">Natural Language Processing</li>
                            <li class="list-group-item">Computer Vision</li>

                            
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Open Form
                            </button> 
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/ava2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Zen</h5>
                            <p class="card-text">"AI expert specializing in machine learning techniques, data analysis, and predictive modeling, focused on solving complex challenges in technology and business."</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Expertise</li>
                            <li class="list-group-item">Predictive Analytics</li>
                            <li class="list-group-item">Data Mining</li>
                            <li class="list-group-item">Reinforcement Learning</li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Open Form
                            </button> 
                        </div>
                    </div>
                </div>
                 <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="/img/ava1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ava</h5>
                            <p class="card-text">AI expert specializing in machine learning and natural language processing, focused on solving complex challenges</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Expertise</li>
                            <li class="list-group-item">Machine Learning</li>
                            <li class="list-group-item">Natural Language Processing</li>
                            <li class="list-group-item">Computer Vision</li>

                            
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Open Form
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
            



            
        </div>



        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Schedule a Demo</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3" action="/send-email" method="POST">
                            <div class="col-md-6">
                                <label for="inputName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="inputName" name="name" required>
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail4" class="form-label">Email</label>
                                <input type="email" class="form-control" id="inputEmail4" name="email" required>
                            </div>
                            <div class="col-6">
                                <label for="Mobile_Number" class="form-label">Mobile Number</label>
                                <input type="number" class="form-control" id="Mobile_Number" name="mobile" required>
                            </div>
                            <div class="col-md-6">
                                <label for="Current_Education_Level" class="form-label">Current Education Level</label>
                                <input type="text" class="form-control" id="Current_Education_Level" name="education" required>
                            </div>
                            <div class="col-md-6">
                                <label for="Language" class="form-label">Language</label>
                                <select id="Language" class="form-select" name="language">
                                    <option selected>English</option>
                                    <option>Hindi</option>
                                    <option>Marathi</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="Career_Interests_Goals" class="form-label">Career Interests/Goals</label>
                                <input type="text" class="form-control" id="Career_Interests_Goals" name="careerGoals" required>
                            </div>
                            <div class="col-6">
                                <label for="appointment-date" class="form-label">Select a Date:</label>
                                <input type="date" id="appointment-date" class="form-control" name="date" required>
                            </div>
                            <div class="col-6">
                                <label for="appointment-time" class="form-label">Select a Time:</label>
                                <input type="time" id="appointment-time" class="form-control" name="time" required>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-primary">Schedule a Demo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <%- include('layouts/footer'); -%>