<%- include('layouts/header'); -%>
<body>
  <%- include('layouts/navbar'); -%>

  <div class="container mt-5">
    <div class="row">
      <!-- Left Section: Image -->
      <div class="col-md-6">
        <img src="/img/contact.png" alt="Success" class="img-fluid" style="height: 500px;">
      </div>

      <!-- Right Section: Success Message -->
      <div class="col-md-6 d-flex align-items-center">
        <div>
          <h2 class="text-success">Success!</h2>
          <p class="lead">Thank you for reaching out to us. We have received your message, and we will contact you soon.</p>
          <p>If you have any urgent inquiries, feel free to <a href="/contact">contact us again</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <%- include('layouts/footer'); -%>
</body>
</html>
